.logo{
  margin-left: -30px;
  line-height: 10px;
  margin-top: 20px;
}
.item{
  margin-left: -80px;
}
.carousel-caption{
  padding-top: -50px;
}
.bs{
    	margin: 20px;
      padding: 20px;
    }

.panel-heading a{
  text-decoration: none;
}












@media(max-width:768px){
.logo{
  margin-left: -5px;
}

};

@media(max-width: 768px)
 {
   .service article {
margin: 90px;
  }

}
